{% extends "base.html.twig" %}

{% block body %}
    {% include "header.html.twig" %}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <div class="order-container">
        <div class="order-items">
            <h3 class="order-title">Su Orden</h3>
            <div class="item-grid">
                {% for item in orden.getItem() %}
                    <div class="item-container">
                        <img src="{{ asset(item.getProducto().imagen) }}" width="100" height="100" alt="{{ item.getProducto().nombre }}"/>
                        <div class="order-description">
                            <h4 id="product-title">{{ item.getProducto().nombre }}</h4>
                            <p id="product-subtitle">Cantidad: {{ item.getCantidad() }}</p>
                            <div class="price-container">
                                <p><strong>Precio:</strong> ${{ item.getProducto().precio }}</p>
                                <p><strong>Total:</strong> ${{ (item.getProducto().precio * item.getCantidad()) }}</p>
                            </div>
                             <a href="{{ path('eliminar_item', {'idItem': item.id}) }}" class="btn-light">Eliminar item</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="order-summary">
            <h3 class="order-title">Resumen</h3>
            <h3><strong>Total de la orden:</strong> ${{ orden.getTotal() }}</h3>
            <a href="{{ path('finalizar_compra') }}" class="btn-light">Confirmar compra</a>
        </div>
    </div>
{% endblock %}
